body,html {
    height: 100%;
}

/* must be relative for scrollspy to work */
body {
    position: relative;
}

h1 {
    /*color: #0099ff;*/
    padding-bottom: 30px;
}

.min-100 {
    min-height: 100vh;
}

.date {
    text-align: right;
}

.jumbotron {
    /*background-image: url("wood.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333;
    color: white;
}

#sidemenu {
    position: sticky;
}

#cheese {
    border-radius: 50%;
    width: 300px; 
}

.sps {
  padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  color: #fff;
}

.anchor{
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.section {
    margin-bottom: 100px;
}

.subsection{
    margin-bottom: 50px;
}

#content .nav-link {
    color: #555;
    transition: all 0.2 ease;
}

footer a {
    color: #ccc;
}
footer a:hover,
footer a:focus{
    color: #eee;
}