body,html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* must be relative for scrollspy to work */
body {
    position: relative;
}

h1 {
/*    color: #333333*/;
    padding-bottom: 10px;

    /*border-bottom: 5px solid #ff9900;*/
}

h5 {
    font-weight: bold;
}

a {
    color: #333333;
}

a:hover {
    color: #339933;
}

footer a {
    color: #ccc;
}
footer a:hover,
footer a:focus{
    color: #eee;
}

span:after{
    content:" "; 
    display:inline-block; 
    width:32px;
}

li {
    padding-bottom: 10px;
}

table {

}

td {
    width: 200px;
}

.fa-li {
    color: #339933;
}

.min-100 {
    min-height: 100vh;
}

.date {
    text-align: right;
}

.jumbotron {
    /*background-image: url("wood.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333;
    color: white;
    border-radius: 0;
}

.nav {
    border-right: 5px solid #ff9900;

}

.nav-item {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
}

.nav-item:hover {
    font-style: italic;
}

.sps {
  padding: 50px .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  color: #fff;
}

.anchor{
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.section {
    margin-bottom: 80px;
}

.subsection{
    margin-bottom: 50px;
    padding-left: 25px;
}

#sidemenu {
    position: sticky;
    padding-right: 45px;
    color: #fff;
}

#cheese {
    border-radius: 50%;
    width: 300px; 
    border-color: white;
    border-width: 5px;
}
